<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

    <mapper namespace="Student">
    
    <select id="select" resultType="StudentDTO">
    	select * from sutdent
    </select>
    
    <insert id="insert" parameterType="StudentDTO">
    	insert into sutdent values (sutdent_seq.nextval,#{memberid},#{password},#{name},#{email})
    </insert>
    
    <select id="logincheck" resultType="StudentDTO" parameterType="StudentDTO" >
    	select * from sutdent where memberid = #{memberid} and  password = #{password}
    </select>
    

    </mapper>